
/.idea
/node_modules/
/public/assets/
/public/blog/
/public/company/
/var
/vendor
.env
.env.test

npm-debug.log
yarn-error.log

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

