.footer {
  position: absolute;
  background: $deepBlue;
  bottom: 0;
  right: 0;
  width: 100%;

  .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  ::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
    background: rgba(256, 256, 256, .2);
  }

  p {
    margin: 0;
    color: $lightGray;
  }
}

.fake-footer {
  padding-top: 160px;
}