<div class="page-title">
    <div class="diam">
        <p>
            <img src="{{ absolute_url('/images/diam.png') }}" alt="" aria-hidden="true">
        </p>
    </div>
    <h1 class="align-middle">{{ title }}</h1>
</div>