<div class="user-another-user-edit warning">
    <div class="icon">
        <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <div class="warning-body">
        <h3>{{ header|default('Warning')|trans }}</h3>
        {{ message }}
    </div>
</div>