<div class="alert alert-warning" role="alert">
    <h6><i class="fa-solid fa-triangle-exclamation"></i>
        {{ header|default('Warning')|trans }}
    </h6>
    <hr>
    <p class="mb-0">{{ message }}</p>
</div>