{% trans_default_domain 'user' %}

<div class="tabs">
    <ul class="nav nav-tabs">
    {% for key, value in tabs %}
        <li class="nav-item">
            <a href="{{  path('user-edit-' ~ key, {'id': id}) }}" class="nav-link {{ key == current_tab ? 'active' : '' }}" aria-current="page">{{ value|trans }}</a>
        </li>
    {% endfor %}
    </ul>
</div>