{% extends 'base.html.twig' %}
{% trans_default_domain 'user' %}

{% block content %}
<div class="login_form">
    <h1>{% trans %}Recover password{% endtrans %}</h1>
    <div class="recover-password-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
