{% extends 'base.html.twig' %}

{% block content %}
<div class="user">
    <h1>{% trans %}Sign up{% endtrans %}</h1>
    <div id="sign-up-close">
        {% trans %}The sign up is closed. Sorry for temporary inconvenience.{% endtrans %}
    </div>
</div>
{% endblock %}