{% extends 'base.html.twig' %}

{% block content %}
<div class="user">
    <h1>{% trans %}Sign up{% trans %}</h1>
    <div>
        {% trans %}The sign up is closed. Sorry for temporary inconvenience.{% trans %}
    </div>
</div>
{% endblock %}