<h1>New messages</h1>
<div>
    Please check admin panel. You have {{ newMessages }} new messages.
    <div>
        <a href="{{ url('message-list') }}">{{ url('message-list') }}</a>
    </div>
</div>