<h1>New messages</h1>
<div>
    Please check admin panel. You have {{ newMessages }} new messages.
    <div>
        <a href="{{ absolute_url(path('message-list')) }}">{{ absolute_url(path('message-list')) }}</a>
    </div>
</div>